*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(thesky.png);
	height: 45vh;
	width: 95%;
	background-size: cover;
	background-position: center;
}

p
{
	margin-left: 5.5%;
	margin-top: 15%;
	font-size: 25px;
	text-align: center;
}

p1
{
	margin-left: 47%;
	text-align: center;
	font-size: 40px;
}

.homebutton
{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 4%;
  transform: translate(1%, -50%)
}

.homebutton:hover
{
	background-color: white;
	color: black;
}