*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(road.png);
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.homebutton
{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 4%;
  transform: translate(1%, -50%)
}

.homebutton:hover
{
	background-color: white;
	color: black;
}

.img1
{
	height: 550px;
	width: auto;
	margin: 3px 3px;
}

.img2
{
	height: 365px;
	width: auto;	
	top: -30%;
	position: relative;
	margin: 3px 3px;
}

.img3
{
	height: 615px;
	width: auto;
	float: right;
	position: relative;
	margin: 3px 3px;
}

.img4
{
	height: 550px;
	width: auto;
	float: left;
	position: relative;
	margin: 3px 3px;
}

.img5
{
	height: 507px;
	width: auto;
	top: -30%;
	left: .3%;
	position: relative;
	margin: 3px 3px;
}

.img6
{
	height: 480px;
	width: auto;
	float: right;
	top: -73.5%;
	position: relative;
	margin: 3px 3px;
}