*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(thebus.png);
	height: 55vh;
	width: 95%;
	background-size: cover;
	background-position: center;
}

li
{
	float: left;
}

ul
{
	list-style-type: none;
	margin-left: 35%;
	margin-top: 310px;
}

.navbar
{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar:hover
{
  background-color: white;
  color: black;
}
  
.hiddenbutton
{
  margin-top: 29.75%;
  background-color: transparent;
  color: transparent;
}